# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\flask框架案例\住房案例\Live_Room\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
